@import "../../scss/variables";

.posts {
	margin-top: 1.5rem;

	.info-message-no-posts {
		margin-top: 3.5rem;
	}

	.info-message-posts {
		margin-bottom: 0.75rem;
	}

	.icon-bigger {
		box-sizing: content-box;
		padding: 0.5rem;
	}
}
