@import "../../scss/variables";

.message {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
	color: $color-prussian-blue;
	margin-left: auto;

	& > * {
		margin-left: 0.75rem;
	}

	.text {
		background-color: $color-powder-blue;
		padding: 0.3rem 0.7rem;
		border-radius: 5px;
		max-width: 75%;

		.message-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 0.75rem;

			.time {
				color: $color-prussian-blue;
				margin-right: 1.5rem;
			}

			svg {
				path {
					fill: $color-prussian-blue;
				}
			}
		}
	}

	&.incoming {
		color: $color-light-cyan;
		margin-right: auto;
		margin-left: 0;
		justify-content: flex-start;

		.profile-picture {
			order: 1;
		}

		.text {
			order: 2;
		}

		.icon {
			order: 3;
		}

		.text {
			background-color: $color-queen-blue;
		}

		& > * {
			margin-left: 0;
			margin-right: 0.75rem;
		}
	}
}
