@import "../../scss/variables";

.welcome {
	.welcome-header {
		color: $color-prussian-blue;
		text-align: center;
		margin: 2.5rem 0;

		.heading {
			margin-bottom: 0.5rem;
		}
	}

	.welcome-body {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 250px;
			margin-top: 4rem;
		}

		.create-account {
			color: $color-red;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				margin-bottom: 1.5rem;
			}

			button {
				width: fit-content;
			}
		}
	}
}
