@import "../../scss/variables";

.file-selector {
	position: relative;

	.file {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	button {
		position: absolute;
		left: 0;
		top: 0;
		white-space: nowrap;
		margin-bottom: 1rem;
	}

	.file-name {
		color: $color-prussian-blue;
		margin-top: 1rem;
	}
}
