.emoji-picker-container {
	position: absolute;
	height: 33rem;
	width: 40rem;
	top: -34.5rem;
	right: 0;
	display: none;

	&.show {
		display: block;
	}

	@media screen and (max-width: 450px) {
		width: 100%;
		height: 35rem;
		top: -35.5rem;
	}
}
