@import "../../scss/variables";

.header {
	background-color: $color-powder-blue;
	color: $color-light-cyan;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&.hide {
		display: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 1 auto;
	}
}
