.text-bigger {
	font-size: 2.7rem;

	@media screen and (max-width: 500px) {
		font-size: 2.5rem;
	}
}

.text-big {
	font-size: 2.35rem;

	@media screen and (max-width: 500px) {
		font-size: 2.2rem;
	}
}

.text-medium {
	font-size: 2rem;

	@media screen and (max-width: 500px) {
		font-size: 1.7rem;
	}
}

.text-small {
	font-size: 1.7rem;
}

.text-smaller {
	font-size: 1.5rem;
}

.text-smallest {
	font-size: 1.35rem;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}
