*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-primary;
	background-color: $color-light-cyan;
	min-height: 100vh;

	&::-webkit-scrollbar {
		width: 0.7rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-powder-blue;
	}
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
