.wrapper {
	max-width: 1100px;
	padding: 0 2.5rem;
	margin: auto;

	@media screen and (max-width: 500px) {
		padding: 0 2rem;
	}

	@media screen and (max-width: 400px) {
		padding: 0 1.5rem;
	}
}

.wrapper-small {
	max-width: 400px;
	margin: auto;
}

.wrapper-medium {
	max-width: 750px;
	margin: auto;

	@media screen and (max-width: 750px) {
		width: 100%;
	}
}

.form-container {
	padding-top: 2rem;

	.form-header {
		text-align: center;
		color: $color-prussian-blue;
		margin-bottom: 3rem;

		.title {
			text-transform: uppercase;
		}
	}

	@media screen and (max-width: 700px) {
		padding-top: 1.7rem;
	}
}

.form {
	width: 30rem;
	margin: auto;

	.custom-input:last-of-type {
		margin-bottom: 3.5rem;
	}

	button {
		padding: 0.55rem 1rem;
	}

	@media screen and (max-width: 350px) {
		width: 27rem;
	}
}

.icon {
	height: 1.55rem;
	width: 1.55rem;
	cursor: pointer;

	path {
		fill: $color-queen-blue;
	}

	&.active {
		path {
			fill: $color-prussian-blue;
		}
	}

	&.icon-bigger {
		height: 1.7rem;
		width: 1.7rem;
	}

	&.align-right {
		display: block;
		margin-left: auto;
	}

	&.white {
		path {
			fill: $color-light-cyan;
		}

		&:hover {
			path {
				fill: $color-light-cyan;
			}
		}

		&:active {
			path {
				fill: $color-light-cyan;
			}
		}
	}

	&:hover {
		path {
			fill: $color-prussian-blue;
		}
	}

	&:active {
		path {
			fill: $color-queen-blue;
		}
	}
}

.info-message {
	color: $color-queen-blue;
	text-align: center;

	&::first-letter {
		text-transform: capitalize;
	}
}

.human {
	height: 30rem;
	display: block;
	margin: auto;

	@media screen and (max-width: 400px) {
		width: 100%;
	}
}

.logo {
	font-size: 2.5rem;
	text-transform: capitalize;
	cursor: pointer;
	color: $color-prussian-blue;

	&-smaller {
		font-size: 2rem;
	}

	@media screen and (max-width: 400px) {
		font-size: 2.35rem;
	}
}

.count {
	background-color: $color-prussian-blue;
	color: $color-light-cyan;
	padding: 0.1rem 0.35rem;
	border-radius: 5px;
	font-size: 1.2rem;
}

textarea {
	&::-webkit-scrollbar {
		width: 0.3rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-queen-blue;
	}
}

button {
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
